@import 'tailwindcss';
@plugin "daisyui";

/* body {
  background: pink;
} */

/* #root {
  background: white;
} */
html,
body,
#root {
  min-height: 100vh;
}
body {
  background: rgb(235, 214, 219);
  text-align: center;
  color: black;
  font-family: fantasy;
  padding: 15px 5px 10px 5px;
}
